<div ng-controller="AboutMeController">
  <div class="fullScreenHeader transparentMenu ui stackable borderless large inverted top fixed menu">
    <div class="item">
      <h1 class="ui header inverted logoText">
        &nbsp;YUNHAO'S <span style="color:#00A9FF">PORTFOLIO</span>
      </h1>
    </div>
    <!--
    <a class="right active item" style="align-items:flex-end;">
      <i class="bookmark icon"></i>
      &nbsp;HOME
    </a>
    -->
    <a class="right item active" style="align-items:flex-end;" ui-sref="#/" ng-click="clickFullMenuItem($event)">
      <i class="spy icon"></i>
      &nbsp;ABOUT ME
    </a>
    <a class="item" style="align-items:flex-end;" ui-sref="projects" ng-click="clickFullMenuItem($event)">
      <i class="desktop icon"></i>
      &nbsp;WORK PROJECTS
    </a>
    <a class="item" style="align-items:flex-end;" ui-sref="photos" ng-click="clickFullMenuItem($event)">
      <i class="photo icon"></i>
      &nbsp;PHOTOS
    </a>
    <a class="item" style="align-items:flex-end;" ui-sref="videos" ng-click="clickFullMenuItem($event)">
      <i class="film icon"></i>
      &nbsp;VIDEOS
    </a>

  </div>


  <!--
  <script>
    $('.ui.labeled.icon.sidebar')
      .sidebar('toggle')
    ;
  </script>
  -->

  <div class="customJumbotron">

    <!-- Background Video -->

    <div class="ui container customJumbotronContent" >
      <img class="ui centered medium circular image" src="images/profilePic.jpg" style="opacity:0.8; width:20rem"/>
      <p class="customJumbotronMainText">{{greeting}}, I'm Yunhao Shen</p>
      <p>I'm a "full stack" designer dedicated to design and develop the best user experiences for both end users and enterprises.</p>

      <button class="ui huge button blue inverted" id="learnMore" analytics-on="click" analytics-event="learn-more-about-me:button#click">Learn More About Me</button>
      <i class="icon angle double down huge inverted looping animating transition bounce"></i>
    </div>
  </div>

  <div id="learnMoreScrollToAnchor" style="position:relative; top:-5rem"></div>
  <div class="oddContainer">
    <div class="ui container sectionContainer">
      <h1 class="ui header centered large inverted">EDUCATION AND EXPERIENCE</h1>
      <hr style="width: 35rem;"/>
      <div id="experienceTrigger" style="position:relative; top:10rem"></div>
      <div ng-include src="'svgs/timeline.svg'" id="timelineSVGContainer"></div>

    </div>
  </div>



  <div class="evenContainer">
    <div class="ui container sectionContainer">
      <h1 class="ui header centered large inverted">SKILLS AND INTERESTS</h1>
      <hr style="width: 27rem"/>
      <div id="skillsTrigger" style="position:relative; top:-15rem"></div>
      <div class="ui stackable grid" style="margin-top:1rem">
        <div class="seven wide column leftColumnContanier">
          <div ng-include src="'svgs/skills.svg'"></div>
        </div>
        <div class="two wide column leftColumnContanier">
        </div>
        <div class="seven wide column rightColumnContanier">
          <div ng-include src="'svgs/language.svg'" style="padding-bottom:0.5rem"></div>
          <div ng-include src="'svgs/interest.svg'" style="padding-top:0.5rem"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="oddContainer">
    <div class="ui container sectionContainer">
      <h1 class="ui header centered large inverted">SELF INTRO</h1>
      <hr style="width: 14rem;"/>
      <p>Well, let's see...

        I'm a designer, front-end developer, storyteller, researcher, as well as a gamer working to expand the possibilities of design thinking and product experiences.
        Through the systemization of Human-Centered Design, I'm trying to understand and feel people's feelings for myself and deliver innovative design solutions to make their life easier and better.
      </p>
      <p>
        And I'm also a great photographer, a constant traveler for the world adventure, and an awesome pilot. There’s a saying from the lead designer of my team and it’s too true not to share:

        "if your life is plain, so is your design."
      </p>
      <a class="ui animated button white inverted right floated" tabindex="0" href="pdfs/My-Infographic-Resume.pdf" download analytics-on="click" analytics-event="download-resume:button#click">
        <div class="visible content">My Resume</div>
        <div class="hidden content">
          <i class="cloud download icon"></i>
          Download
        </div>

      </a>
    </div>
  </div>

</div>
