<div class="pageFooter">
  <div class="ui container">
    <h1 class="ui header inverted large">Get in Touch</h1>
    <div>
      <a href="https://www.facebook.com/yunhao.shen.3" target="_blank"><i class="facebook large inverted icon" analytics-on="click" analytics-event="facebook:icon#click"></i></a>
      <a href="https://www.linkedin.com/in/yunhaoshen" target="_blank"><i class="linkedin large inverted icon" analytics-on="click" analytics-event="linkedin:icon#click"></i></a>
      <div class="contactInfo">
        <div class="contactInfoItem">
          <i class="call large inverted icon"></i>
          <span>206-669-6002</span>
        </div>
        <div class="contactInfoItem">
          <i class="mail large inverted icon"></i>
          <span><a href="mailto:xiaohao9006@gmail.com" analytics-on="click" analytics-event="email:link#click">xiaohao9006@gmail.com</a></span>
        </div>
      </div>
    </div>



    <div class="ui horizontal list">
      <div class="item">
        <img class="ui avatar image" src="images/profilePic.jpg">
        <div class="content">
          <p class="header copyRight">Yunhao Shen © 2016</p>
        </div>
      </div>
    </div>

    <!--
    <img class="ui centered tiny circular image" src="images/profilePic.jpg" style="width:40px; display:inline-block"/>
    <p class="copyRight">Yunhao Shen © 2016</p>
    -->



  </div>
</div>
