<div ng-controller="MyAgencyReportsController">
  <div id="projectAnchor" style="position:relative; top:-5rem"></div>
  <div class="oddContainer">
    <div class="ui stackable grid container sectionContainer">
      <div class="one wide column">
        <i class="ui remove big icon closeIcon" ng-click="closeProjectDetail()"></i>
      </div>
      <div class="eight wide column">

        <div class="ui special inverted blue card projectCard">
          <div class="dimmable image">
            <div class="ui dimmer disableDimmer">
              <div class="content">
                <div class="center">
                </div>
              </div>
            </div>
            <img ng-src={{project.image}}>
          </div>

          <div class="content">
            <div class="header">{{project.name}}</div>
            <img class="projectLogo" ng-src={{project.companyLogo}}>
          </div>
          <div class="extra content">
          <span class="right floated">
            <i class="calendar icon"></i>
            {{project.date}}
          </span>
          <span>
            <i class="icon" ng-class="project.roleIconClass"></i>
            {{project.role}}
          </span>
          </div>
        </div>
      </div>

      <div class="six wide column projectIntro">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="header projectIntroHeader">{{project.name}}</div>
              <div class="description">
                <p>{{project.intro1}}</p>
                <p>{{project.intro2}}</p>
              </div>
              <div class="extra">
                <div class="ui black large label" ng-repeat="tool in project.tools">{{tool}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="one wide column"></div>

    </div>
  </div>
  <div class="projectDetailContainer">
    <div class="ui container sectionContainer">
      <h2 class="ui header centered large inverted horizontal divider">WHAT WAS I ASKED TO DO</h2>


      <div class="ui stackable grid toDoDetail">
        <div class="one wide column"></div>
        <div class="four wide column">
          <i class="ui dashboard huge icon"></i>
          <p>Design a centralized, flexible and extensive reporting platform that can meet the needs of our customers across all Vertafore products</p>
        </div>
        <div class="one wide column"></div>

        <div class="four wide column">
          <i class="ui sitemap huge icon"></i>
          <p>At its core it can allow agencies to own their own report templates and distribute to their staff</p>
        </div>
        <div class="one wide column"></div>

        <div class="four wide column">
          <i class="ui legal huge icon"></i>
          <p>It has to cover major functions of legacy Vertafore Classic Reports and Vertafore Reporting, so we can sunset the two products</p>
        </div>
        <div class="one wide column"></div>

      </div>

      <h2 class="ui header centered large inverted horizontal divider">WHAT DID I INHERIT?</h2>
      <div class="ui stackable grid">
        <div class="eight wide column">
          <div class="ui grid">
            <div class="sixteen wide column centeredContentDiv">
              <div class="ui rounded bordered large image">
                <img src="/images/Vertafore-Classic-Reports.png" />
              </div>
            </div>
            <div class="sixteen wide column">
              <div class="inheritIntroHeader">Vertafore Classic Reports – based on SAP Crystal Reports</div>
              <p class="inheritIntroContent">A legacy Vertafore product with an extremely “old fashion” interface from last century, which is not very pretty.</p>
            </div>
          </div>
        </div>

        <div class="eight wide column">
          <div class="ui grid">
            <div class="sixteen wide column centeredContentDiv">
              <div class="ui rounded bordered large image">
                <img src="/images/Vertafore-Reporting.png" />
              </div>
            </div>
            <div class="sixteen wide column">
              <div class="inheritIntroHeader">Vertafore Reporting – based on Oracle Business Intelligence Enterprise Edition (OBIEE)</div>
              <p class="inheritIntroContent">Vertafore Reporting was introduced with the intention of replacing all Classic reports, however it has not provided the level
                of flexibility that we want to provide to our users. And due to the end of the contract with Oracle, we have to sunset this product soon.</p>
            </div>
          </div>
        </div>
      </div>


      <h2 class="ui header centered large inverted horizontal divider">DESIGN PROCESS</h2>
      <div class="stepContainer">
        <div class="ui stackable steps">
          <a class="active step" data-tab="empathize">
            <i class="heartbeat icon"></i>
            <div class="content">
              <div class="title">EMPATHIZE</div>
            </div>
          </a>
          <a class="step" data-tab="define">
            <i class="puzzle icon"></i>
            <div class="content">
              <div class="title">DEFINE</div>
            </div>
          </a>
          <a class="step" data-tab="ideate">
            <i class="idea icon"></i>
            <div class="content">
              <div class="title">IDEATE</div>

            </div>
          </a>
          <a class="step" data-tab="prototype">
            <i class="newspaper icon"></i>
            <div class="content">
              <div class="title">PROTOTYPE</div>

            </div>
          </a>
          <a class="step" data-tab="test">
            <i class="thumbs outline up icon"></i>
            <div class="content">
              <div class="title">TEST</div>

            </div>
          </a>
        </div>
      </div>

      <!-- Empathize Content -->
      <div class="ui active tab" data-tab="empathize" style="z-index: -2">
        <p class="stepIntro">Develop a deep customer empathy. Understand the customer's needs and desires.</p>
        <div class="ui raised segment designProcessDetailContainer">

          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">"Design Partnership" Program</div>
            <div class="ten wide column">
              <p>During the empathize phase, I, together with PM and developer lead, just jumped on the “Design Partner”
                call and asked them about their agency data analysis requirements, and pros and cons with current legacy Vertafore reporting products:</p>
              <div class="ui bulleted list">
                <div class="item">What reports do you use most frequently?</div>
                <div class="item">What do you like about the current reporting tool?</div>
                <div class="item">What don’t you like about the current reporting tool?</div>
                <div class="item">Are there any data points/fields you wish were on the report that aren’t currently available?</div>
                <div class="item">...</div>
              </div>
            </div>

            <div class="six wide column">
              <div class="ui card" style="width:100%">
                <div class="content">
                  <div class="header photoCardHeader">"Design Partnership" Program
                    <i class="right floated user group icon"></i>
                  </div>
                </div>
                <div class="image photoImage">
                  <img src="/images/dpPhoto.jpg" />
                </div>
                <div class="content">
                  <div class="description">
                    <p class="photoContent">A target group of users are invited to a weekly “focus group”
                      session so that we can talk with them and validate our product
                      concepts, vision and roadmaps, and also do usability testing and gather feedback.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


      </div>

      <!-- Define Content -->
      <div class="ui tab" data-tab="define">
        <p class="stepIntro">Provides focus and frames the problem. Fuels brainstorming "how might we statements".</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui stackable grid container">

            <div class="sixteen wide column processDetailHeader">Persona</div>

            <div class="ui items sixteen wide column processDetailItem">
              <div class="item">
                <div class="ui medium rounded image">
                  <div class="ui left corner blue label" style="background-color:#00a9ff">
                    <i class="user icon"></i>
                  </div>
                  <img src="/images/accountantPersona.jpg">
                </div>
                <div class="content">
                  <div class="header personaName">MARY</div>
                  <div class="meta personaMeta">
                    <div class="stay">Age: 36</div>
                    <div class="stay">Agency Size: A3</div>
                    <div class="stay">Role: Accountant/Financial Analyst</div>
                    <div class="stay">Line of Business: P&C</div>
                  </div>
                  <div class="description">
                    <p>Based on the findings from previous phase, we defined target persona as "MARY".</p>
                    <p>Mary started her career as an accountant at her insurance agency. She spent most of her time documenting financial transactions
                      by entering account information. And now she has worked her way up to overseeing the overall agency financial health as a specialized financial analyst.
                    </p>
                    <p>Now she spends a large portion of her time preparing financial reports. She wants a flexible reporting platform which allows she to
                      create/tailor financial report templates to reuse, and even distribute/share out to other co-workers to ensure everyone is using the same reports.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="sixteen wide column processDetailHeader">How Might We Statements</div>
            <div class="two wide computer tablet only column"></div>
            <div class="three wide column howMightWeContainer">
              <div class="ui blue big label howMightWeLabel">Create ...</div>
              <p class="howMightWeContent">A centralized, flexible and extensive reporting platform</p>
            </div>
            <div class="three wide column howMightWeContainer">
              <div class="ui blue big label howMightWeLabel">For ...</div>
              <p class="howMightWeContent">Agency accountant/financial analyst</p>
            </div>
            <div class="three wide column howMightWeContainer">
              <div class="ui blue big label howMightWeLabel">To ...</div>
              <p class="howMightWeContent">Meet their data analysis needs</p>
            </div>
            <div class="three wide column howMightWeContainer">
              <div class="ui blue big label howMightWeLabel">And improve ...</div>
              <p class="howMightWeContent">The overall user experience of Vertafore reporting products</p>
            </div>
            <div class="two wide computer tablet only column"></div>


          </div>

        </div>
      </div>

      <!-- Ideate Content -->
      <div class="ui tab" data-tab="ideate">
        <p class="stepIntro">Explore as many ideas as possible that serve those customer needs.</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">
              <div>Whiteboard Brainstorming</div>
              <p class="processDetailContent">Team of 3 (PM, dev lead and I) constantly got together and brainstormed ideas. White board was our powerful tool.</p>
            </div>
            <div class="eight wide column">
              <div class="ui rounded bordered image">
                <img src="/images/marWhiteboard1.jpg" />
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui rounded bordered image">
                <img src="/images/marWhiteboard2.jpg" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Prototype Content -->
      <div class="ui tab" data-tab="prototype">
        <p class="stepIntro">Create & show a physical form to your solution prototype - anything: paper, interactive.</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">
              <div>Wireframe Examples</div>
              <p class="processDetailContent">I brought back brainstorming ideas and white board sketches to create detail wireframes and prototypes.</p>
            </div>
            <div class="eight wide column">
              <div class="ui rounded bordered image">
                <img src="/images/Download-Detail-Report-Input-Parameters.png" />
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui rounded bordered image">
                <img src="/images/Download-Detail-Report-Detail-View.png" />
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui rounded bordered image">
                <img src="/images/Download-Detail-Report-Add-Summary-View.png" />
              </div>
            </div>
            <div class="eight wide column">
              <div class="ui rounded bordered image">
                <img src="/images/Batch-Reports-through-Related-Reports.png" />
              </div>
            </div>


          </div>
        </div>
      </div>

      <!-- Test Content -->
      <div class="ui tab" data-tab="test">
        <p class="stepIntro">Test + collect feedback through use of rapid interaction cycles. Refine the solution. Measure & repeat.</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">
              <div>Test with Design Partners</div>
              <p class="processDetailContent">And again, every week PM, dev lead and I jumped on the "Design Partner" call and validated the
                design solutions with our customers. Based on the feedback, we continued to refine the solutions and do rapid iteration cycles.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Youtube Video -->

      <h2 class="ui header centered large inverted horizontal divider">UP TO DATE PRODUCT</h2>
      <div class="ui stackable grid">
        <div class="two wide computer tablet only column"></div>
        <div class="twelve wide column">
          <div class="videoWrapper flashVideo">
            <iframe width="560" height="315" src="http://admin.brightcove.com/viewer/us20160520.1717/BrightcoveBootloader.swf?playerID=2509521884001&playerKey=AQ~~%2CAAACHVPEk_k~%2C2rNY2xgKHOUtEpycgazjqKAhz9uwzUik&%40videoPlayer=4749116737001&autoStart=false&bgcolor=%23FFFFFF&debuggerID=&dynamicStreaming=true&flashID=myExperience&height=460&identifierClassName=BrightcoveExperienceID_1423&isUI=true&isVid=true&linkBaseURL=http%3A%2F%2Fwww.vertafore.com%2FWebVideosFrame&startTime=1465695612354&videoID=4749116737001&width=650" frameborder="0" allowfullscreen></iframe>
          </div>
          <p class="videoIntro videoNotDisplayText">(This device doesn't support Flash Player. Please view this video on computer.)</p>
        </div>
        <div class="two wide computer tablet only column"></div>
      </div>




    </div>
  </div>
</div>


