<div ng-controller="ProjectsController">
  <div class="fullScreenHeader transparentMenu ui stackable borderless large inverted top fixed menu">
    <div class="item">
      <h1 class="ui header inverted logoText">
        &nbsp;YUNHAO'S <span style="color:#00A9FF">PORTFOLIO</span>
      </h1>
    </div>
    <!--
    <a class="right active item" style="align-items:flex-end;">
      <i class="bookmark icon"></i>
      &nbsp;HOME
    </a>
    -->
    <a class="right item" style="align-items:flex-end;" ui-sref="aboutme">
      <i class="spy icon"></i>
      &nbsp;ABOUT ME
    </a>
    <a class="item active" style="align-items:flex-end;" ui-sref="projects">
      <i class="desktop icon"></i>
      &nbsp;WORK PROJECTS
    </a>
    <a class="item" style="align-items:flex-end;" ui-sref="photos">
      <i class="photo icon"></i>
      &nbsp;PHOTOS
    </a>
    <a class="item" style="align-items:flex-end;" ui-sref="videos">
      <i class="film icon"></i>
      &nbsp;VIDEOS
    </a>

  </div>



  <div class="customJumbotron">

    <!-- Background Video -->

    <div class="ui container customJumbotronContent" >
      <img class="ui centered medium circular image" src="images/workProjectsPhotoTrim1.png" style="opacity:0.8; width:20rem"/>
      <p class="customJumbotronMainText">"A man is known by the design he keeps"</p>
      <p>There are three responses to a piece of design – yes, no, and WOW!
        Wow is always the one I aim for.</p>
      <button class="ui huge button blue inverted" id="learnMoreWork">Here are My Major Work</button>
      <i class="icon angle double down huge inverted looping animating transition bounce"></i>
    </div>

  </div>
  <div ui-view class="projectContainer"></div>
</div>


<!--
  <div class="evenContainer">
    <div class="ui stackable grid container sectionContainer">
      <div class="one wide column">
        <i class="ui remove big icon closeIcon"></i>
      </div>
      <div class="nine wide column">

        <div class="ui special inverted blue card projectCard">
          <div class="dimmable image">
            <div class="ui dimmer disableDimmer">
              <div class="content">
                <div class="center">
                  <div class="ui large blue button" id="executiveDashboardLearnMore">LEARN MORE</div>
                </div>
              </div>
            </div>
            <img src="/images/ExecutiveDashboard.png">
          </div>

          <div class="content">
            <div class="header">Executive Dashboard</div>
            <img class="projectLogo" src="/svgs/vertaforeLogo.svg">
          </div>
          <div class="extra content">
          <span class="right floated">
            <i class="calendar icon"></i>
            2014.11 - 2016.04
          </span>
          <span>
            <i class="user icon"></i>
            Experience Designer
          </span>
          </div>
        </div>
      </div>

      <div class="five wide column projectIntro">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="header projectIntroHeader">Executive Dashboard</div>
              <div class="description">
                <p>Vertafore's Executive Dashboard is a new feature initially targeted at the
                  executive users of agencies. It delivers easy to understand key data points to
                  executive from which they can make informed decisions. By bringing these key metrics
                  together into a single, easily digestible format for the first time, agencies are allowed
                  to take action more quickly on their business direction.</p>
              </div>
              <div class="extra">
                <div class="ui black large label">Adobe Illustrator</div>
                <div class="ui black large label">Adobe Photoshop</div>
                <div class="ui black large label">FramerJS</div>
                <div class="ui black large label">Highcharts</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="one wide column"></div>

    </div>
  </div>


  <div class="oddContainer">
    <div class="ui stackable grid container sectionContainer">

      <div class="one wide column">
        <i class="ui remove big icon closeIcon"></i>
      </div>
      <div class="nine wide column">
        <div class="ui special inverted blue card projectCard">
          <div class="dimmable image">
            <div class="ui dimmer disableDimmer">
              <div class="content">
                <div class="center">
                  <div class="ui large blue button" id="myAgencyReportsLearnMore">LEARN MORE</div>
                </div>
              </div>
            </div>
            <img src="/images/MyAgencyReports.png">
          </div>



          <div class="content">
            <div class="header">My Agency Reports</div>
            <img class="projectLogo" src="/svgs/vertaforeLogo.svg">

          </div>
          <div class="extra content">
          <span class="right floated">
            <i class="calendar icon"></i>
            2016.01 - Present
          </span>
          <span>
            <i class="user icon"></i>
            Experience Designer
          </span>
          </div>
        </div>
      </div>
      <div class="five wide column projectIntro">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="header projectIntroHeader">My Agency Reports</div>
              <div class="description">
                <p>Vertafore’s My Agency Reports is the new reporting platform, replacing
                  legacy Vertafore Reporting. With My Agency Reports insurance agency is connected
                  to its critical data and has added flexibility to give them more control over the data.</p>
              </div>
              <div class="extra">
                <div class="ui black large label">Adobe Illustrator</div>
                <div class="ui black large label">Adobe Photoshop</div>
                <div class="ui black large label">FramerJS</div>
                <div class="ui black large label">Angular UI Grid</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="one wide column"></div>

    </div>
  </div>
</div>

-->
